---
layout: default
---
<section class="split-screen">
    <!-- Dynamically pulls the breadboard image you set in your blog post -->
    <div class="left-fixed" style="background-image: url('{{ page.image }}');"></div>
    
    <div class="right-scroll">
        <div class="article-content">
            <span class="category">{{ page.category }}</span>
            <h1>{{ page.title }}</h1>
            
            {{ content }}
            
            <!-- Button linking to your open-source code -->
            <a href="{{ page.github_link }}" class="btn-primary" target="_blank">View Code on GitHub</a>
        </div>
    </div>
</section>
