---
layout: default
---
<section class="split-screen">
    <div class="left-fixed" style="background-image: url('{{ page.image }}');"></div>
    
    <div class="right-scroll">
        <div class="article-content">
            <span class="category">{{ page.category }}</span>
            <h1>{{ page.title }}</h1>
            
            {{ content }}
            
            <!-- Affiliate / Project Link Button -->
            <a href="{{ page.external_link }}" class="btn-primary" target="_blank">{{ page.link_text }}</a>
        </div>
    </div>
</section>
